body {
    font-family: Arial, sans-serif;
     /* background: url("{{ url_for('static', filename='lienzo.png') }}") no-repeat center center fixed; */
    background: url("lienzo.png") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #333;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrando horizontalmente y moviendo verticalmente */
    top: 15%; /* Mover la imagen hacia abajo el 25% del alto del viewport */
}

.logo img {
    width: 150px;
}

.container {
    max-width: 1000px;
    margin: 0 auto; /* Center horizontally */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: absolute; /* Make it positionable */
    top: 50%; /* Position vertically from the top */
    left: 50%; /* Position horizontally from the left */
    transform: translate(-50%, -50%); /* Adjust position for centering */
  }
  
h1 {
    text-align: center;
    color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 1.2em;
    color: #0056b3;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
}

button, input[type="submit"] {
    padding: 10px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #0056b3;
}


#keywordContainer {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.keyword {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.keyword:hover .remove {
    display: block;
}

.remove {
    display: none;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 0 5px;
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: -5px;
}